.u-link {
  font-size: 15px;
  font-weight: 600;
  color: $primary-color;
  text-transform: capitalize;
}

.u-margin-bottom {
  margin-bottom: 25px;
}

.u-margin-bottom-lg {
  margin-bottom: 40px;
}

.u-margin-bottom-sm {
  margin-bottom: 15px;
}

.u-text-center {
  text-align: center;
}
